PORT=8080
DATABASE_URL=host=localhost user=postgres password=postgres dbname=theaiclip port=5432 sslmode=disable
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=wallpapers
MINIO_PUBLIC_URL=http://localhost:9000
